.date-roller-panel-select {
    flex: 1;
    font-size: 28px;
    font-weight: bold;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;

    height: 250px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.date-roller-panel-select ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.date-roller-panel-select-option-selected {
    color: cornflowerblue;
    background-color: #edeffe;
}
