.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(230, 230, 234);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0 2px 10px 0;
}

.navigation-bar-item {
    flex: 1;
    padding: 16px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    color: #464d52;
}

.navigation-bar-item-selected {
    font-weight: bold;
}

.card {
    border: 1px solid rgb(230, 230, 234);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0 2px 10px 0;
    margin-top: 12px;
 }

.horizontal-space {
    margin-left: 16px;
    margin-right: 16px;
}

.vertical-space {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-text {
    font-size: 18px;
    font-weight: 700;
}

.silent-text {
    color: #939393;
    font-size: 16px;
}
